{% extends 'base.html' %}

{% block content %}
<h1>Accounts</h1>
<a class="btn btn-primary mb-3" href="{{ url_for('accounts_ui.create_account_ui') }}">Add Account</a>
<table class="table">
  <thead>
    <tr><th>Name</th><th>Type</th><th>Balance</th></tr>
  </thead>
  <tbody>
    {% for a in accounts %}
    <tr>
      <td>{{ a.get('account_name') }}</td>
      <td>{{ a.get('account_type') }}</td>
      <td>{{ a.get('current_balance') }}</td>
    </tr>
    {% else %}
    <tr><td colspan="3">No accounts</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
